<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<h1 th:text="${session.clientName} + '\'s' + ' Orders:'"></h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Client Name</th>
        <th scope="col">Client adress</th>
        <th scope="col">Balloon color</th>
        <th scope="col">Balloon size</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${session.orders}">
        <td th:text="${order.get(0)}"></td>
        <td th:text="${order.get(1)}"></td>
        <td th:text="${order.get(2)}"></td>
        <td th:text="${order.get(3)}"></td>
    </tr>
    </tbody>
    <form th:method="GET" th:action="@{'/balloons'}">
        <button type="submit" class="btn btn-sm btn-primary">To List of Balloons</button>
    </form>
</table>
</body>
</html>